*{
  box-sizing: border-box;
}

:root {
  --font-primary: 'Arial', sans-serif;
  --text-color: #000;
  --bg-green: rgb(101, 208, 101);
  --accent-yellow: yellow;
  --accent-pink: pink;
  --white: #fff;
  --black: #000;
}


body{
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
header {
  background-image: url(image-header.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--white);
  padding: 2rem;
  position: relative;

}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-nav{
  display: flex;
  list-style-type: none;
  margin-right: 40px;
  gap: 50px;
}

.flex-nav a{
  text-decoration: none;
}
.option{
  color: white;
  font-weight: bold;
}
.contact{
  color: var(--black);
  padding: 7px 14px;
  background-color: #fff;
  border-radius: 14px;
}

.title, .icon-arrow-container{
  text-align: center;
}
.icon-arrow-container{
  margin-top: 130px;

}
/*Grid section*/
.grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.div-photo,
.cerise-image{
  width: 623px;
}

.div-photo .cup-image{
  width: 623px;
  margin-bottom: -5px;
}

.div-photo img{
  width: 100%;
  object-fit: cover;
}
.orange-image{
  width: 645px;
  height: 519px;
}
.paragraph-container{
  margin-top: 80px;
  text-align: center;
  width: 100%;
}

.container-title {
  font-size: 2rem;
  font-weight: bold;
}
.text{
  width: 380px;
  text-align: center;
  margin-left: 150px;
}

.first-link{
  text-decoration-color: var(--accent-yellow);
  text-decoration-thickness: 6px;
}

.first-link p{
  margin-right: 220px;
}

.second-link{
  text-decoration-color: var(--accent-pink);
  text-decoration-thickness: 6px;
}

.second-link p{
  margin-right: 200px;
}

.learn-more{
  color: var(--black);
}

.image-container{
  position: relative;
}

.text-on-image{
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: 30px;
}
.graphic-design , .photography{
  font-size: 1.2rem;
  font-weight: bold;
}

.photography{
  margin-left: 90px;
}
.designer-quote-one{
  width: 400px;
  margin-left: 80px;
}
.designer-quote-two{
  width: 400px;
  margin-left: 130px;
}


/*THIRD SECTION :CLIENT TESTIMONIALS*/
.testimonials-title{
  text-align: center;
}
.testimonials-flex{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  height: 400px;
}

.image-jennie{
  text-align: center;
}

.citation{
  text-align: center;
}
.clients-quote{
  border-radius: 120px;
  width: 90px;
}
.client-name{
  font-size: 1.2rem;
  font-weight: bold;
}
.client-job{
  color: rgb(190, 190, 190);
}
/*Bottom pictures*/
.flex-bottom-pictures{
  display: flex;
}
.bottom-pictures{
  width: 315px;
}

/*footer*/
footer{
  background-color: var(--bg-green);
  height: 300px;
}

/* margin-top:-5px a cause de l'espace entre .bottom-pictures */

.logo{
  text-align: center;
  margin-top: -5px;
  padding-top: 30px;
  font-weight: bold;
  color: var(--bg-green);
  font-size: 2rem;
}

.footer-menu{
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style-type: none;
  margin-top: 30px;
}
.footer-menu a{
  text-decoration: none;
}

.flex-socials{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.footer-text{
  text-align: center;
  margin-bottom: 20px;
}



